////////////////////////
// Islandora Styling
////////////////////////

// FP Simple Search //

#block-islandora-solr-simple {
	margin: 3em auto;
	width: 60%;
	input.form-text {
		width: 100%;
		border: 2px solid #CECCC9;
		border-radius: 7px;
		color: #AEB0AF;
		font-size: 115%;	
		height: 2.83em;
		padding-left: 0.5em;
	}
	input.form-submit {
		background: url(../images/wrlc/search-btn.png) no-repeat 0 0 #4D4F53;
		border: 0 none;
		border-radius: 0 7px 7px 0;
		float: right;
		height: 44px;
		position: relative;
		text-indent: -9999px;
		top: -44px;
		width: 54px;
		transition: all 0.2s ease-in-out 0s;
		&:hover {
			background-color: #009FDA;
		}
	}
}
