////////////////////////
// Pages Styling
////////////////////////

#header {
	border-top: 3px solid #000;
	margin-top: 2em;
	padding: 1em 0;
}

#footer {
	width: 100%;
	max-width: 1200px;
	.copyright {
	  clear: both;
	  text-align: center;
	  font-size: 80%;
	  p {
	  	margin: 0.5em;
	  }
	}
}

// Sidebar Stuff //

.sidebars {
	h2 {
		@include h2-title-1;
	}
	h3 {
		@include h2-title-2;
		font-size: 1.5em;
		font-style: normal;
		margin: 0.5em 0 0.25em;
	}
	ul {
		margin: 0 -2px 0 2px;
		padding: 0 !important;
		list-style: none;
		li {
			border-bottom: 1px dashed #d2d0cd;
			padding: 0.35em 0;
			list-style: none !important;
			transition: background 0.1s ease-in-out 0s;
			position: relative;
			a {
				font-size: 105%;
				display: inline-block;
				width: 80%;
			}
			span.plusminus {
				display: none;
			}
			span.count {
				position: absolute;
				right: 5px;
				color: #d2d0cd;
			}
			&:hover {
				background: #F1F1F1;
			}
			&:last-child {
				border: 0 none;
			}
		}
	}
	// Facet Stuff //
	a.soft-limit {
		border-top: 1px dashed #d2d0cd;
		display: block;
		padding: 0.35em 0 0 2px;
		font-size: 90%;
		&:after {
			content: " »";
		}
		&:link, &:visited {
			color: #003359;
		}
		&:hover, &:active {
			color: #009fda;
		}
	}
}

// No sidebars //
.no-sidebars {
	h1 {
		text-align: center;

	}
	.search-php {
		top: 0;
		right: 51px;
	}
}
